[Unit]
Description=Cerberus-V Firewall System
Documentation=https://github.com/m4rba4s/Cerberus-V
Wants=network-online.target
After=network-online.target
AllowIsolate=yes

# Dependencies
Requires=cerberus-ctrl.service
Requires=cerberus-dataplane.service
Requires=cerberus-maintenance.service

# Order
Before=multi-user.target
After=basic.target

[Install]
WantedBy=multi-user.target 